___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [6]:
s = "Hi there Yogesh!"
list(s.split())

['Hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
planet = "Earth"
diameter = 12742

In [9]:
a = "The diameter of {} is {} kilometers".format(planet,diameter)
a

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [13]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [16]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]}

In [17]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [20]:
def fun1(a):
    list1 = list(a.split('@'))
    return list1[1]

In [21]:
fun1("user@domain.com" )

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [43]:
def findDog(a):
    if 'dog' in a.lower().split():
        return True
    else:
        return False

In [44]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [22]:
def countDog(a):
      return a.lower().split().count("dog")

In [27]:
countDog('dog dog Dog yo ho dog')

4

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [46]:
seq = ['soup','dog','salad','cat','great']

In [47]:
list(filter(lambda x: x[0] != 's',seq))

['dog', 'cat', 'great']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket".
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all
  cases. **

In [51]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed = speed-5
    if speed <= 60: 
            return "No Ticket"
    elif speed >= 61 and speed <=80:
            return "Small Ticket"
    elif speed >= 81:
            return "Big Ticket"

In [54]:
caught_speeding(64,False)

'Small Ticket'

In [55]:
caught_speeding(81,True)

'Small Ticket'

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [42]:
get_input = input("Enter the String")
a = []
for char in get_input:
    a.append(char)
for i in a:
    if i.isdigit() or i == "-":
        print(i,end="")

Enter the String-yt54esd
-54

Q2
WAP to check whether a number is palindrome or not on following
conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [84]:
def find_pal(num):
    if str(num) == str(num)[::-1]:
        print("{} is palindrome".format(num))
    else:
        return sum1(str(num))
    
    
def sum1(num):
    sum2 = int(num[::-1]) + int(num)
    print("sum : ",sum2)
    return find_pal(sum2)
        
num1 = (input("Enter the number"))

print("palindrome : ",find_pal(num1))

Enter the number78
sum :  165
sum :  726
sum :  1353
sum :  4884
4884 is palindrome
palindrome :  None

Write a python function to find and display the five
digit number in which the first digit is two more than
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [19]:
def find_five_digit_number():
    for a1 in range(1,10):
        for a2 in range(10):
            for a3 in range(10):
                for a4 in range(10):
                    for a5 in range(10):
                        if a1 == a2 + 2 and a2 == a3 + 2 and a4 == a3 - 2 and a5 == a4 + 2 and a3 + a4 + a5 == a1 and a1+a2+a3+a4+a5==19:
                            return '{}{}{}{}{}'.format(a1,a2,a3,a4,a5)
        
find_five_digit_number()

'75313'

# Great job!